<!DOCTYPE html>
<html>
    <body>
    <div>

        <div class="container">
                <div class="header">
                    <h2 class="h1" style="margin-left: 37%;margin-top: 1cm;font-size: 50px;">agency user page</h2>
                </div>
                <p><a href="/insert_agency">
                    <button class="btn1"  style=" width: 200px;
                    margin-left:40% ;"><b>Add Agency</b></button>
                </a></p>

                <p><a href="/insert_destination"  ><button class="btn2" style=" width: 200px;
                    margin-left:40% ;"><b>Add Destinations</b></button></p></a>

                <p><a href="/agency_q1"><button class="btn3"  style=" width: 200px;
                    margin-left:40% ;"><b>Get all agent contact number </b></button></p></a>

                <p><a href="/agency_q2"><button class="btn4"  style=" width: 200px;
                    margin-left:40% ;"><b>Show minumum transport rate</b></button></p></a>




        </div>
</body>
</html>