<!DOCTYPE html>
<html>
  <style>
    #form-row{
      margin-left: 35%;
    
      
    }
    </style>
    <body>
 
    <div>

        <div id="container">
    
            <div id="header">
              <h2 class="h1" style=" font-size:50px;
              margin-left:30%;">Delete a customer</h2>
            </div>
    
            <form class="needs-validation" action="#" method="POST">
              <div id="form-row">
                <div class="form-group col-md-3">
                  <!-- <label for="saleid">sales id</label> -->
                  <input class="form-control" type="text" id="cid" name="cid" placeholder="Cusotmer id">
                </div>
              </div>
              <br>
    
    
              </div><br>
    
              <button class="btn btn-primary" type="submit" value="Submit" style="margin-left:40% ;">Delete</button>
            </form>
          </div>
    
    </body>
</html>