<!DOCTYPE html>
<html>
  <style>
    #container{
      margin-left: 40%;
    }
    </style>
    <body>
    <div>

        <div id="container">
    
            <div class="header">
              <h2 class="h1"style=" font-size: 50px;">Add a Agency</h2>
            </div>
    
            <form class="needs-validation" action="#" method="POST">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <!-- <label for="saleid">sales id</label> -->
                  <input class="form-control" type="text" id="aid" name="aid" placeholder="Agency id">
                </div><br>
                <div class="form-group col-md-3">
                  <!-- / <label for="empid">emp id</label> -->
                  <input class="form-control" type="text" id="aname" name="aname" placeholder="Agency name">
                </div>
                
                
              </div>
              <br>
    
    
              
    
              </div><br>
    
              <button class="btn btn-primary" type="submit" value="Submit"  style=" width: 200px;
              margin-left:40% ;">Submit</button>

    
            </form>
          </div>
    
    </body>
</html>