<!DOCTYPE html>
<html>
  <style>
    #container{
      margin-left: 40%;
    }
    </style>
    <body>
 
    <div>

        <div id="container">
    
            <div class="header">
              <h2 class="h1" style=" font-size: 50px;">Add a Customer</h2>
            </div>
    
            <form class="needs-validation" action="#" method="POST">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <!-- <label for="saleid">sales id</label> -->
                  <input class="form-control" type="text" id="cid" name="cid" placeholder="Cusotmer id">
                </div><br>
                <div class="form-group col-md-3">
                  <!-- / <label for="empid">emp id</label> -->
                  <input class="form-control" type="text" id="cname" name="cname" placeholder="Customer name">
                </div><br>
                <div class="form-group col-md-3">
                  <!-- <label for="mfgid">mfg id</label> -->
                  <input class="form-control" type="text" id="cemail" name="cemail" placeholder="Customer email">
                </div><br>
                <div class="form-group col-md-3">
                  <!-- <label for="custid">customer id</label> -->
                  <input class="form-control" type="text" id="did" name="did" placeholder="Destination id">
                </div><br>
                <div class="form-group col-md-3">
                  <!-- <label for="status">payment status</label> -->
                  <input class="form-control" type="text" id="aid" name="aid" placeholder="Agency id">
                </div><br>
                <div class="form-group col-md-3">
                  <!-- <label for="status">payment status</label> -->
                  <input class="form-control" type="text" id="contact" name="contact" placeholder="Contact number">
                </div><br>
              </div>
              <br>
    
    
              <button class="btn btn-primary" type="submit" value="Submit"  style=" width: 200px;
              margin-left:40% ;">Submit</button>

    
            </form>
          </div>
    
    </body>
</html>