<!DOCTYPE html>
<html>
    <body>


        <div>
    
            <div class="container">    
                    <div class="header">
                        <h2 class="h1" style="font-size: 60px;margin-left: 30%;margin-top: 1cm;">Tourism Management</h2>
                    </div>
                    <div><h4 style="font-size: 40px;margin-left: 40%;">Login-Page</h4>></div>
                    <p><a href="/user">
                        <button class="btn1" style="margin-left: 40%;width:200px;">User</button>
                    </a></p>
                    <p><a href="/staff"><button class="btn2" style="margin-left: 40%;width:200px;">Staff</button></p></a>
                    
                    <p><a href="/agency"><button class="btn3" style="margin-left: 40%;width:200px;">Agency</button></p></a></p>    
        </div>
    
    </body>
    
</html>