<!DOCTYPE html>
<html>
  <style>
    #login-box{
      font-size: 30px;
      margin-left:40% ;
    }
    </style>
    <body>
        <h2 style="margin-left: 30%;margin-top: 1cm;font-size: 50px;">User/staff/agency Login</h2>
        <div id="login-box">
            <h2 >Enter details</h2>
            <form action = "#" method="POST">
              <div class="user-box">
                <label for="user">enter username</label><br>
                <input type="text" id="user" name="user"><br><br>
                <label for="psw">enter password</label><br>
                <input type="password" id="psw" name="psw"><br>
                
              </div><br>
              <a href="#">
                <button>Submit</button>
              </a>
            </form>
        </div>
    </body>
</html>