<!DOCTYPE html>
<html>
  <style>
    #container{
      margin-left: 40%;
    }
    </style>
    <body>
 
    <div>

        <div id="container">
    
            <div class="header">
              <h2 class="h1" style="font-size:50px;">Destinations</h2>
            </div>
    
            <form class="country" action="#" method="POST">
              <div class="form-row">
                <div class="form-group col-md-3">
                  <!-- <label for="saleid">sales id</label> -->
                  <input class="form-control" type="text" id="cname" name="cname" placeholder="Country name">
                </div>
              </div>
              <br>
    
    
              </div><br>
    
              <button class="btn btn-primary" type="submit" value="Submit" style="margin-left: 40%;">View destionations</button>
            </form>
          </div>
    
    </body>
</html>