<!DOCTYPE html>
<html>
    <body>
    <div>

        <div class="container">
                <div class="header">
                    <h2 class="h1" style="margin-left: 38%;margin-top: 1cm;font-size: 50px;">Staff user page</h2>
                </div>
                <p><a href="/insert_staff">
                    <button class="btn1"  style=" width: 200px;
                    margin-left:40% ;"><b>Add Staff</b></button>
                </a></p>

                <p><a href="/view_staff"><button class="btn2"  style=" width: 200px;
                    margin-left:40% ;"><b>See all staff</b></button></p></a>

                <p><a href="/view_agency"><button class="btn4"  style=" width: 200px;
                    margin-left:40% ;"><b>Agency available</b></button></p></a>

                <p><a href="/staff_q1"><button class="btn4"  style=" width: 200px;
                    margin-left:40% ;"><b>count of staff in each agency</b></button></p></a>
        </div>
</body>
</html>