<!DOCTYPE html>
<html>
    <body>
    <div>

        <div class="container">
                <div class="header">
                    <h2 class="h1" style="margin-left: 30%;margin-top: 1cm;font-size: 50px;">customer user page</h2>
                </div>
                <p><a href="/insert_customer">
                    <button class="btn1" style=" width: 200px;
                    margin-left:40% ;"><b>Add Customer</b></button>
                </a></p>

                <p><a href="/delete_customer"><button class="btn2" style=" width: 200px;
                    margin-left:40% ;"><b>Delete a customer</b></button></p></a></p>

                <p><a href="/user_count"><button class="btn3"  style=" width: 200px;
                    margin-left:40% ;"><b>show customers count</b></button></p></a>

                <p><a href="/user_q1"><button class="btn4"  style=" width: 200px;
                    margin-left:40% ;"><b>Agency available</b></button></p></a>

                <p><a href="/user_q2"><button class="btn5"  style=" width: 200px;
                    margin-left:40% ;"><b>Destinations avaialable</b></button></p></a>
                <p><a href="/user_q3"><button class="btn6"  style=" width: 200px;
                    margin-left:40% ;"><b>Destinations in a coutnry</b></button></p></a>
        </div>
</body>
</html>